<section class="about container">
    <br>
    <br>
    <br>
    <h1 class="text-center mb-5">About</h1>
    <p>
        Course management system becomes an integral part of the education system. The Course Management System is a software application for delivering course details or training program. It allows teachers to gather multiple topics or skills in a system. Students can view the course details and enroll for the same.
    </p>
    <p>
        
    </p>
    <p>
        
    </p>

</section>

<!-- footer -->
<footer class="text-center mt-2">
    <p>&copy; course management 2022. All right reserved</p>
  </footer>


     
   


