<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Course management system becomes an integral part of the education system. The Course Management System is a software application for delivering course details or training program. It allows teachers to gather multiple topics or skills in a system. Students can view the course details and enroll for the same.
    </p>
    <p>
        
    </p>
    <p>
        
    </p>

    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>

</section>
