<body>
    <nav>
       <div class="logo">Course Management</div>
       <ul>
           <li><a routerLink="/professordashboard">Home</a></li>
           <li><a routerLink="/addcourse">Add course</a></li>
           <li><a routerLink="/studentrequest">Requests</a></li>
           <li><a routerLink="/approvedstudents">Approved</a></li>
           <li><a routerLink="/studentalert">Notification</a></li>
           <li><a routerLink="/" >Logout</a></li>
           
       </ul>
    </nav>
    <section></section> 
</body>
